.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
    border-color: transparent;
    box-shadow: 14px 10px 19px -8px rgba(0,0,0,0.75);
    > img {
        width: 100%;
    }
    > a{
        text-decoration: none;
        background-color: #457abf;
        width: 100px;
        padding: 10px 5px;
        color: white;
        border-radius: none;
        &:hover{
            background-color: #F2F2F2;
        }
    }
}

.card2 {
    width: 300px;
    padding: 30px;
    justify-content: end;

}